<footer class="section footer-classic context-dark bg-image py-5" style="background: #2d3246;">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4 heading">
                    <a class="brand" routerLink="/">
                        <img class="brand-logo-light mb-4" src="assets/images/Bluu-Kazi-Transparent.png" alt="Bluu Tech" width="140" height="37" style="filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(10deg) brightness(9980.3%)">
                    </a>
                    <p>Bluu Tech was founded in 2020 by the founding team of Bluu Kazi, a marketplace for jobs.</p>
                  <p>Customer Care toll-free: 1-877-794-5536</p>
                    <!-- Rights-->
                    <p class="rights">
                        <span>©</span>
                        <span class="copyright-year">2022</span>
                        <span></span>
                        <span> Bluu Tech</span>
                        <span>.</span>
                        <span> All Rights Reserved.</span>
                    </p>
                </div>
            </div>
            <div class="col-md-4 contact">
                <h5 class="mb-4">Contacts</h5>
                <dl class="contact-list">
                    <dt>Address:</dt>
                    <dd>6710 Oxon Hill Rd</dd>
                  <dd>Suite 200B</dd>
                  <dd>National Harbor, MD 20745</dd>
                </dl>
                <dl class="contact-list">
                    <dt>email:</dt>
                    <dd>
                        <a href="mailto:#">Keith@bluukazi.com</a>
                    </dd>
                  <dd>
                    <a href="mailto:#">Michel@bluukazi.com</a>
                  </dd>
                </dl>
            </div>
            <div class="col-md-4 col-xl-3 links">
                <h5 class="mb-4">Links</h5>
                <ul class="nav-list">
                  <li>
                    <a routerLink="/">Home</a>
                  </li>
                    <li>
                        <a routerLink="/about">About</a>
                    </li>
                    <li>
                        <a routerLink="/courses">Courses</a>
                    </li>
                    <li>
                        <a routerLink="/instructors">Instructors</a>
                    </li>
                    <li>
                        <a routerLink="/contact">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
