<footer class="section footer-classic context-dark bg-image pt-5" style="background: #2d3246;">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4 heading">
                    <a class="brand" routerLink="/">
                        <img class="brand-logo-light mb-4" src="assets/images/Bluu-Kazi-Transparent.png" alt="Bluu Tech" width="140" height="auto" >
                    </a>
                    <p>Bluu Tech was founded in 2020 by the founding team of Bluu Kazi, a marketplace for jobs.</p>
                  <dl class="contact-list">
                    <dt style="color:white">Customer Care toll-free:</dt>
                    <dd style="color:white">1-877-794-5536</dd>
                    <dt style="color:white">email:</dt>
                    <dd>
                      <a href="mailto:info@bluukazi.com" target="_blank">info@bluukazi.com</a>
                    </dd>
                  </dl>
                </div>
            </div>
            <div class="col-md-4 contact">
                <h5 class="mb-4">Address</h5>
                <dl class="contact-list">
                    <dt>Bluu Kazi:</dt>
                    <dd>6710 Oxon Hill Rd</dd>
                  <dd>Suite 200B</dd>
                  <dd>National Harbor, MD 20745</dd>
                </dl>
                <dl class="contact-list">
                    <dt> Bluu Tech Africa:</dt>
                  <dd>Advantage Place Building, 8th Floor</dd>
                  <dd>23 Mayor Road, West Ridge</dd>
                  <dd>Accra, Ghana</dd>
                </dl>
            </div>
            <div class="col-md-4 col-xl-3 links">
                <h5 class="mb-4">Links</h5>
                <ul class="nav-list">
                  <li>
                    <a routerLink="/">Home</a>
                  </li>
                    <li>
                        <a routerLink="/about">About</a>
                    </li>
                    <li>
                        <a routerLink="/our-team">Meet Our Team</a>
                    </li>
                    <li>
                        <a routerLink="/contact">Contacts</a>
                    </li>
                </ul>
            </div>
          <div class="col-12">

            <!-- Rights-->
            <p class="rights">
              <span>©</span>
              <span class="copyright-year">2022</span>
              <span></span>
              <span> Bluu Tech</span>
              <span>.</span>
              <span> All Rights Reserved.</span>
            </p>
          </div>
        </div>
    </div>
</footer>
