<nav class="navbar navbar-expand-lg navbar-light bg-light" data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="200">
    <a class="navbar-brand" routerLink="/" style="width: 10%"><img class=" w-100" src="assets/images/Bluu-Kazi-Transparent.png" alt="" /> </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0" data-aos="zoom-out" data-aos-easing="linear" data-aos-duration="400">
            <li class="nav-item active">
                <a routerLink="/" class="nav-link">Why Bluu Kazi?
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/about" class="nav-link">About</a>
            </li>
          <li class="nav-item">
            <a routerLink="/our-team" class="nav-link">Meet Our Team</a>
          </li>
          <li class="nav-item">
            <a routerLink="/contact" class="nav-link">Contact</a>
          </li>
        </ul>
        <div class="my-2 my-lg-0 ml-auto form-inline">
            <button (click)="goToLogin()" class="btn btn-bluu-primary my-2 mx-3 my-sm-0 login" type="submit"><i class="fa fa-user p-2"></i>LOGIN</button>
          <button (click)="goToSignUp()" class="btn my-2 my-sm-0 register" type="submit"><span class="p-2">SIGN UP</span></button>
        </div>
    </div>
</nav>
