<section id="bluukazi-contact">
  <div class="container my-5 py-5">
    <div class="row">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <h1 class="mb-5">contact us&nbsp;</h1>
          </div>
          <div class="form-group"><input class="form-control" type="text" placeholder="Name" required="" style="width: 330px;"></div>
        </form>
        <div class="form-group"><input type="email" style="width: 330px;height: 39px;" required="" placeholder="Email"></div>
        <div class="form-group"><input type="tel" placeholder="Phone No" style="width: 330px;height: 38px;" required=""></div>
        <div class="form-group"><input type="text" placeholder="Subject" style="width: 330px;height: 38px;" required=""></div>
        <div class="form-group"><textarea style="width: 330px;" placeholder="Message" required=""></textarea></div>
        <div class="form-group"><button class="btn btn-info" type="submit" style="width: 330px;">Submit</button></div>
      </div>
      <div class="col-md-6" style="padding-left: 20px;padding-right: 20px;">

        <fieldset></fieldset>
        <legend><i class="fas fa-industry"></i>&nbsp;Company Name</legend>
        <p></p>
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr>
              <td><i class="fas fa-map-marker-alt" style="height: 24px;width: 24px;"></i></td>
              <td>597,Ghandhi Nagar,Rangasamutram Post,Sathyamangalam - 638 402</td>
            </tr>
            <tr></tr>
            <tr>
              <td><i class="fa fa-phone" style="width: 24px;height: 24px;"></i></td>
              <td>+91 98428 73007</td>
            </tr>
            <tr>
              <td><i class="fa fa-envelope" style="width: 24px;height: 24px;"></i></td>
              <td>kalaivaniagencieserd@gmail.com<br>kalaivanisarees@gmail.com<br><br></td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="col-12">
          <div id="location-map">
            <img src="assets/images/map.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
