<section id="bluukazi-contact">
  <div class="container my-5 py-5">
    <div class="row">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <h1 class="mb-5">Contact Us&nbsp;</h1>
          </div>
          <div class="form-group"><input class="form-control" type="text" placeholder="Name" required="" style="width: 330px;"></div>
        </form>
        <div class="form-group"><input type="email" style="width: 330px;height: 39px;" required="" placeholder="Email"></div>
        <div class="form-group"><input type="tel" placeholder="Phone No" style="width: 330px;height: 38px;" required=""></div>
        <div class="form-group"><input type="text" placeholder="Subject" style="width: 330px;height: 38px;" required=""></div>
        <div class="form-group"><textarea style="width: 330px;" placeholder="Message" required=""></textarea></div>
        <div class="form-group"><button class="btn btn-info" type="submit" style="width: 330px;">Submit</button></div>
      </div>
      <div class="col-md-6" style="padding-left: 20px;padding-right: 20px;">

        <fieldset></fieldset>
        <legend>&nbsp;Bluu Kazi</legend>
        <p></p>
<!--        6710 Oxon Hill Rd
        Suite 200B
        National Harbor, MD 20745-->
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr>
              <td><i class="fa fa-map-marker" style="height: 24px;width: 24px;"></i></td>
              <td>6710 Oxon Hill Rd<br>Suite 200B<br>National Harbor, MD 20745</td>
            </tr>
        <!-- INCLUDE BLUU TECH ADDRESS AND INFO BELOW -->
        <fieldset></fieldset>
        <legend>&nbsp;Bluu Tech Africa</legend>
        <p></p>
        <!--    Advantage Place Building 8th FlOr
        23 Mayor Road, West Ridge
        Accra Ghana -->
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr>
              <td><i class="fa fa-map-marker" style="height: 24px;width: 24px;"></i></td>
              <td>Advantage Place Building, 8th Floor<br>23 Mayor Road, West Ridge<br>Accra, Ghana</td>
            </tr>  
            <tr></tr>
            <!--    Will need to updated the toll-free number below    -->
            <tr>
              <td><i class="fa fa-phone" style="width: 24px;height: 24px;"></i></td>
              <td>Customer Care toll-free: 1-877-794-5536</td>
            </tr>
            <tr>
              <td><i class="fa fa-envelope" style="width: 24px;height: 24px;"></i></td>
              <td>info@bluukazi.com</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="col-12">
          <div id="location-map">
            <img src="assets/images/map.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
