<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card-name card-form">
        <label class="label-title">Custom Card Dropdown</label>
        <div class="input-wrapper">
          <div class="card-grp">
            <div class="card-input">
            </div>
            <div class="arrow">
              <i class="fas fa-caret-down fa-lg"></i>
            </div>
          </div>

          <ul class="card-list">
            <li><i class="fab fa-cc-visa"></i></li>
            <li><i class="fab fa-cc-discover"></i></li>
            <li><i class="fab fa-cc-amex"></i></li>
            <li><i class="fab fa-cc-stripe"></i></li>
            <li><i class="fab fa-cc-jcb"></i></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
