<div class="bluu-dashboard">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Dashboard</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let lesson of lessons" class="col-lg-4 col-md-6 col-sm-12 my-4" data-aos="fade-up" data-aos-once="true" data-aos-mirror="true"
           data-aos-duration="800">
        <div class="card">
          <div class="card-img-top">
            <span class="card-topic">{{lesson.topic}}</span>
            <img class="" data-src="{{lesson.img}}" alt="Card image cap">
          </div>
          <div class="card-body">
            <div class="top-list">
              <span class="lesson-counter"><img src="../../../../../assets/images/opened-book-4984.svg" /> <span class="pl-2">42 Lessons</span></span>

            </div>
            <h4 class="card-title"><a routerLink="">{{lesson.title}}</a> </h4>
            <p class="instructor"><i class="fa fa-user-circle"></i> {{lesson.instructor}}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="card-link btn btn-bluu-primary mb-2">View <i class="fa fa-arrow-circle-right"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


