
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-name card-form">
          <img class="card-img-top" src="../../../../../assets/images/lesson1.jpg" alt="">
          <div class="card-body">
            <div class="content w-75 d-inline-block">
              <h4 class="card-title label-title">Title</h4>
              <p class="card-text">Text</p>
            </div>
            <div class="button w-25 d-inline-block input-wrapper">
              <div class="card-grp">
                <button><i class="fa fa-ellipsis-v"></i></button>
              </div>
            </div>
            <ul class="card-list">
              <li><i class="fa fa-edit"></i> Edit</li>
              <li><i class="fa fa-remove"></i> Delete</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
