<section class="mt-5">
  <div class="container">
    <div class="photo-card"  data-aos="fade-up" data-aos-once="true" data-aos-mirror="true"
         data-aos-duration="800">
      <div class="photo-background" style="background-image:url('/assets/images/about-bluukazi.png');"></div>
      <div class="photo-details">
        <h1 class="mb-5">BLUU KAZI</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sodales elementum mi non hendrerit. Proin tempor facilisis felis nec ultrices. Duis nec ultrices neque. Proin semper ultricies turpis, vel faucibus velit sodales vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.&nbsp; </p>
        <div class="photo-tags mt-5 mb-3">
          <ul>
            <li><a href="#" class="mr-5">Read More</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-text">
  <div class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center highlight-blue" id="About" style="height: 500px;">
    <div class="container"  data-aos="fade-up" data-aos-once="true" data-aos-mirror="true"
         data-aos-duration="800">
      <div class="intro">
        <h2 class="text-center" >ABOUT</h2>
        <hr >
        <p class="text-center" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. . Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="buttons"><a class="btn text-capitalize d-block m-auto w-20" role="button" href="#" style=""><strong>Read More</strong><br></a></div>
    </div>
  </div>
</section>
