<section class="mt-5">
  <div class="container">
    <div class="photo-card"  data-aos="fade-up" data-aos-once="true" data-aos-mirror="true"
         data-aos-duration="800">
      <div class="photo-background" style="background-image:url('/assets/images/about-bluukazi.png');"></div>
      <div class="photo-details">
        <h1 class="mb-5">BLUU TECH AFRICA</h1>
        <p>We are an online community providing training, development, and certfication pathways connecting the 54 nations of Africa to the global marketplace. Our technology focused community will enhance the advancement of the individual's knowledge and access to workforce opportunities. Along with our parent company BluuKazi.com we are “Digital Farmers” within a “Workforce Agriculture” environment, tasked with training and developing our community of tech enthusiasts. Planting the seeds of education, training, and continuous development to enhance talent quality upon entry into the marketplace.&nbsp;</p>
        <div class="photo-tags mt-5 mb-3">
          <ul>
            <li><a href="#" class="mr-5">Read More</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-text">
  <div class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center highlight-blue" id="About" style="height: 500px;">
    <div class="container"  data-aos="fade-up" data-aos-once="true" data-aos-mirror="true"
         data-aos-duration="800">
      <div class="intro">
        <h2 class="text-center" >ABOUT US</h2>
        <hr >
        <p class="text-center" >Our Parent Company, Bluukazi.com, is a marketplace for ALL things related to the world of work. We are creating a “Workforce Agriculture”, planting the seeds of education, training, and continuous development to enhance talent quality upon entry into the marketplace.</p>
      </div>
      <!--    Comment idea for later - The BUTTON below could be changed to a button re-directing the use to the bluukazi.com website.    -->
      <div class="buttons"><a class="btn text-capitalize d-block m-auto w-20" role="button" href="#" style=""><strong>Read More</strong><br></a></div>
    </div>
  </div>
</section>
