<section class="course-details py-5">

  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="course-content">
          <h5 class="category mb-3">Development</h5>
          <div class="title my-5">
            <h2>The business Intelligence analyst Course 2022</h2>
          </div>
          <img src="../../../../../assets/images/lesson3.jpg" class="w-100 mb-5" style="max-height: 20em" alt="">
          <div class="list d-flex flex-row justify-content-lg-between mb-5">
            <div class="user d-flex justify-content-lg-start flex-row align-items-center flex-wrap">
              <img src="../../../../../assets/images/user-profile.svg" alt="" style="width: 10%" class="h-auto d-inline-block pr-1">
              <span class="d-inline-block">Hisham Khartoum</span>
            </div>
            <span class=" flex-wrap py-3"><span style="color:blue">Published Date:</span> 24/July/2021</span>
          </div>
          <div class="tabs-content">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab"
                   href="#description" role="tab" aria-controls="description" aria-selected="true">
                  <i class="fa"></i>Description
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="curriculum-tab" data-toggle="tab"
                   href="#curriculum" role="tab" aria-controls="curriculum" aria-selected="false">
                  <i class="fa fa-book mr-2"></i>Curriculum</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="reviews-tab" data-toggle="tab"
                   href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">
                  <i class="fa fa-book mr-2"></i>Reviews</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">Description</div>
              <div class="tab-pane fade" id="curriculum" role="tabpanel" aria-labelledby="curriculum-tab">Curriculum</div>
              <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">Reviews</div>
            </div>
          </div>
          <div class="shareLinks">
            <h5>Share Links:</h5>
            <div class="row">
              <div class="col-12">
                <a class="zocial facebook icon mr-2" routerLink="xxx"></a>
                <a class="zocial twitter icon mr-2" routerLink=""></a>
                <a class="zocial youtube icon mr-2" routerLink=""></a>
                <a class="zocial email icon mr-2" routerLink=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="p-5">
          <div class="video"></div>
          <div class="price"></div>
          <div class="list-of-details">
            <ul>
              <li>Instructor: </li>
              <li>Contributors: </li>
              <li>Lectures</li>
              <li>Duration: </li>
              <li>Language: </li>
            </ul>
          </div>
          <div class="">
            <a class="btn btn-primary text-decoration-none">Enroll <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
