@import "src/app/app.component";
.home-page{
  .top-header{
    padding:6.25em 0;

    h4{
      color:$green-primary;
      font-size:$textx-regular-1;
      font-weight: 600;
    }
    h2{
      font-size: $hx-4;
      color:$primary;
      font-weight: 800;
    }
    p{
      color:$dark-gray;
    }
    .box-header{
      position: relative;
      .box-images{
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 4;
        img{
          width: 100%;
        }
        .img2{
          min-height: 30em;
        }
      }
      #green-circle{
        position: absolute;
        top:5%;
        left: 10%;
      }
      #red-circle{
        position: absolute;
        top:70%;
        left: 30%;
      }
      #dots{
        position: absolute;
        top:5%;
        left: 10%;
        z-index: 1;
      }
    }
    button{
      background: $primary-dark;
      font-size: $textx-regular-3;
      padding:0.5em 1.2em;
    }
    button:hover{
      background: $primary-dark;
    }
  }
  .about-main{
    background: $primary-dark;
    padding:30px 0;
    .b-content{
      justify-content: center;
      flex-direction: row;
      align-content: center;
      align-items: center;
    }
    img{
      width: 6em;
      height: auto;
    }
    .about-content-text{

      h5{
        color:white;
        font-size: $textx-regular-2;
      }
      p{
        color:white;
        font-size: $textx-regular-5;
      }
    }
  }
  .classification{
    h3{
      color:$primary;
      font-size: $hx-5;
      font-weight: 700;
    }
    .card{
      border-color:rgba(3, 88, 220, 0.08);
      box-shadow: $shadowx-1;
      padding:1em 0;
      margin-bottom: 1em;
      img{
        height: 3em;
        width:3em;
      }

      h4.card-title{
        color:$primary;
      }

    }
  }
  .top-rated{
    h3{
      color:$primary;
      text-align: center;
      font-size: $hx-5;
      font-weight: 700;
    }
    .card{
      box-shadow: $shadowx-1;
      height:26em;
      img{
        height: 150px;
        width: 100%;
      }
      .card-body{
        .card-title{
          color:$primary-dark;
        }
        p.instructor{
          color:$dark-gray;
        }
        .top-list{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-bottom: 1.5em;
          .lesson-topic{
            background: $green-light;
            color:white;
            padding:0.5em;
            font-size: $textx-regular-5;
            border-radius: 1em;
            font-weight: 700;
          }
          .lesson-price{
            color:$primary-dark;
            font-weight: 700;
          }
        }
      }
      .btn-bluu-primary{
        background: $primary-dark;
        color:white;
      }
    }
  }
  .about-2{
    background: $green-primary;
    i{
      float: left;
      padding-right: 1em;
      color:white;
    }
    h3{
      color:white;
    }
    p{
      color:white;
    }
  }
}
