<div class="home-page">
  <section class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <h4 class="mb-5"  data-aos="fade-up" data-aos-easing="linear" data-aos-mirror="true" data-aos-once="true"
              data-aos-duration="800">CURRICULUM DEVELOPED BY WORLD RENOWNED TECHNOLOGISTS</h4>
          <h2 class="mb-3" data-aos="fade-up" data-aos-easing="linear" data-aos-mirror="true" data-aos-once="true"
              data-aos-duration="1000">Experience a community of learners, instructors, and tech enthusiasts that will champion your growth to the next level</h2>
          <p class="mb-5" data-aos="fade-up" data-aos-easing="linear" data-aos-mirror="true" data-aos-once="true"
             data-aos-duration="1100">
            Ask about our options to finance your learning and begin your career in the next 4 months!
          </p>
          <button class="btn btn-primary mb-5" data-aos="fade-up" data-aos-easing="linear" data-aos-once="true" data-aos-mirror="true"
                  data-aos-duration="1200"
          >Get Started</button>
        </div>
        <div class="col-lg-6 offset-1 box-header">
          <div class="row d-flex box-images">
            <div class="col">
              <img src="assets/images/header-image1.png" class="img1" alt=""  data-aos="zoom-in-right" data-aos-once="true" data-aos-easing="linear" data-aos-mirror="true"
                   data-aos-duration="1500">
            </div>
            <div class="col">
              <img src="assets/images/header-image2.png" class="img2" alt=""  data-aos="flip-left" data-aos-once="true" data-aos-easing="linear" data-aos-mirror="true"
                   data-aos-duration="1700">
            </div>
          </div>
          <div class="moving-elements">
            <img id="dots" src="assets/images/dots-gray.svg" data-aos="flip-left" data-aos-easing="linear" data-aos-mirror="true"
                 data-aos-duration="1700" />
            <img id="green-circle" src="assets/images/green-circle.svg" data-aos="flip-left" data-aos-easing="linear" data-aos-mirror="true"
                 data-aos-duration="1700"/>
            <img id="red-circle" src="assets/images/circle-red.svg"data-aos="flip-left" data-aos-easing="linear" data-aos-mirror="true"
                 data-aos-duration="1700" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-main py-5">
    <div class="container">
      <div class="row d-flex main-box">
        <div>
          <div class="row d-flex b-content">
            <div data-aos="zoom-out" data-aos-once="true" data-aos-easing="linear" data-aos-mirror="true"
                 data-aos-duration="800">
              <img src="assets/images/web-link.svg" alt=""/>
            </div>
            <div class="px-3 about-content-text align-self-center"   data-aos="zoom-in" data-aos-once="true" data-aos-easing="linear" data-aos-mirror="true"
                 data-aos-duration="800">
              <h5 class="mb-4" >
                Web-Based Delivery
              </h5>
              <p  class="mt-4">
                Courses Led and Designed by Industry Experts
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="row d-flex b-content">
            <div data-aos="zoom-out" data-aos-once="true" data-aos-easing="linear" data-aos-mirror="true"
                 data-aos-duration="800">
              <img src="assets/images/teacher2.svg" alt=""/>
            </div>
            <div class="px-3 about-content-text align-self-center" data-aos="zoom-in" data-aos-once="true" data-aos-easing="linear" data-aos-mirror="true"
                 data-aos-duration="800">
              <h5 class="mb-4">
                World-Class Coaching
              </h5>
              <p class="mt-4">
                Peer-Learning Environment
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="row d-flex b-content">
            <div data-aos="zoom-out" data-aos-once="true" data-aos-easing="linear" data-aos-mirror="true"
                 data-aos-duration="800">
              <img src="assets/images/job-search.svg" alt=""/>
            </div>
            <div class="px-3 about-content-text align-self-center" data-aos="zoom-in" data-aos-once="true" data-aos-easing="linear" data-aos-mirror="true"
                 data-aos-duration="800">
              <h5 class="mb-4">
                Job Matching
              </h5>
              <p class="mt-4">
                Interview Coaching and Resume Writing Workshops
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="classification my-5">
    <div class="container">
      <div class="row">
        <div class="col-12 my-5">
          <h3 class="widget-title mb-3">Explore Student Experiences</h3>
        </div>
        <div class="col-12 mb-5">
          <div class="row">
            <div *ngFor="let collection of collections" class="col-lg-4 mb-5"  data-aos="fade-down" data-aos-once="true" data-aos-mirror="true"
                 data-aos-duration="800">
              <a class="card my-2" routerLink="/blogs/{{collection.title}}">
                <div class="row">
                  <img class="card-img-top col-4 align-self-center" src="{{collection?.img}}" alt="">
                  <div class="card-body col-8">
                    <h4 class="card-title">{{collection.title}}</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-us-video my-5 py-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12"  data-aos="fade-up" data-aos-once="true" data-aos-mirror="true"
             data-aos-duration="800">
          <h3 class="mb-5">Meet Our Students</h3>
          <p>Bluu Tech is Expanding our reach with an office in Accra, Ghana. Our community of learners now include, Cameroon, Ghana, Nigeria, and South Africa, with plans of extending to all 54 nations of Africa. Take a look at our first group of graduates who were part of our pilot program. We are currently awarding 20 Scholarships in Africa - Subscribe to our mailing list below to find out more details.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="box">
              <div class="vplayer" data-v="fUis9yny_lI">
                <a data-fancybox="video-gallery" class="plybtn" href="https://www.youtube.com/embed/18T0Hqe-MZ4">
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="top-rated py-5">
    <div class="container">
      <h3 class="mb-5 widget-title ">
        Course Overview and Tutorials
      </h3>
      <div class="row">
        <div *ngFor="let lesson of lessons" class="col-lg-4 my-4" data-aos="fade-up" data-aos-once="true" data-aos-mirror="true"
             data-aos-duration="800">
          <div class="card">
            <div class="card-img-top">
              <span class="card-topic">{{lesson.topic}}</span>
              <img class="" data-src="{{lesson.img}}" alt="Card image cap">
            </div>
            <div class="card-body">
              <div class="top-list">
                <span class="lesson-counter"><img src="assets/images/opened-book-4984.svg" /> <span class="pl-2">42 Lessons</span></span>

              </div>
              <h4 class="card-title"><a routerLink="">{{lesson.title}}</a> </h4>
              <p class="instructor"><i class="fa fa-user-circle"></i> {{lesson.instructor}}</p>
            </div>
            <div class="card-footer">
              <span class="lesson-price">{{lesson.price}}$</span>
              <a href="#" class="card-link btn btn-bluu-primary mb-2">Buy Now <i class="fa fa-shopping-cart"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-2 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <i class="fa fa-arrow-circle-o-right fa-2x"></i>
          <h3>Subscribe to Our Newsletter</h3>
          <p>Enter your email address to register to our newsletter and receive updates about courses, events, and job opportunities.</p>
        </div>
        <div class="col-lg-5">
          <div class="form-inline">
            <input type="text" name="subscribe" />
            <button class="btn" type="submit">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="certification">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </section>
  <section class="subscribe">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-7"></div>
      </div>
    </div>
  </section>
</div>
