audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

audio, canvas, img, video {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
#empresa{
  padding:20px;
  p{

    line-height: 2;
  }
  img{
    height: 30em;
    width: 100%;
  }
}
img {
  border-style: none;
}
