<section class="py-5 my-5">
  <!-- Team item -->
  <div id="empresa" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-7 col-lg-7"  data-aos="fade-up" data-aos-once="true" data-aos-mirror="true"
             data-aos-duration="800">
          <h3 class="widget-title mb-5">Meet Our Team</h3>
          <p>When we founded Bluu Kazi and Bluu-Tech in 2020, the vision was to “Recruit, train and develop the world of work”. Fast forward to where we are today, a team of passionate leaders, career professionals, working within domestic and international environments to enhance our learneer and business client experience. Connect with our founding team and advisors on social media. Let’s keep in touch and change the world of work.</p>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-5" data-aos="flip-left" data-aos-once="true" data-aos-easing="linear" data-aos-mirror="true"
             data-aos-duration="1700"><img src="../../../../../assets/images/about-bluukazi.png"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">

      <!-- Team item -->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4E03AQFec-tArtSe6Q/profile-displayphoto-shrink_200_200/0/1643804402902?e=1656547200&v=beta&t=s_3ucSDQFPh6GiAtw58bynRUV_HMj5gLLgWIPXOtAd0" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Michel Edwards</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
<!--             <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/mikesedwards/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div><!-- End -->

      <!-- Team item -->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4D03AQF9rz5NMmNF0Q/profile-displayphoto-shrink_200_200/0/1596606441605?e=1656547200&v=beta&t=6ukfVc9YLoKSQqHmj2AoXS4buXQerZOARerrd5OiOFY" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Keith Gray</h5><span class="small text-uppercase text-muted">COO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
<!--             <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/gt5equity/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div><!-- End -->

      <!-- Team item -->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C5603AQEQJVbbN6d51w/profile-displayphoto-shrink_200_200/0/1569247534679?e=1656547200&v=beta&t=pCna0ndwjMNuX0H0eLhoImeDD7L4rIBXxr6SJFC2kmQ" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Quentin Ayuk-Takem</h5><span class="small text-uppercase text-muted">CTO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
<!--             <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/quentinayuktakem/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div><!-- End -->

      <!-- Team item -->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="http://www.sakerpride.com/publishImages/CARAT-GLINTS2~~element567.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Beatrice Mensah Tayui</h5><span class="small text-uppercase text-muted">CEO Bluu Tech Africa - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
<!--             <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/beatrice-mensah-tayui-064275a/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div><!-- End -->

      <!-- Team item -->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C5603AQGy15VvgKBxDg/profile-displayphoto-shrink_200_200/0/1517802772342?e=1656547200&v=beta&t=ndQcDavabW6HaP4FBvPCaEMeuJvhkJFWP0mBEBQTXX8" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Edoardo Y. Severoni</h5><span class="small text-uppercase text-muted">CIO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
<!--             <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/eddieyseveroni/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div><!-- End -->

      <!-- Team item -->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4D03AQHs5KtrQN4nkQ/profile-displayphoto-shrink_200_200/0/1555767130708?e=1656547200&v=beta&t=KzzSjD81OV_dtEP38xtlFAY07u0xrad6pKFD3fch1gw" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Hisham Elfadhel Khartoum</h5><span class="small text-uppercase text-muted">Lead Developer - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
<!--             <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/hisham-alfadhel-khartoum-15a13357/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div><!-- End -->
    </div>
  </div>
</section>
