@import "../../../../app.component";
.blog{
  margin:5em 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;


  .blog-post{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    background: white;
    .post-img{
      img {
        width: 100%;
        max-height: 20em;
      }
    }
    .blog-content{
      .title{
        h2{
          color:$primary-dark;
          font-size: $hx-3;
        }
      }
    }
    flex:3;
  }
  .latest-blog{
    flex:1;
    h4{
      color:$primary-dark;
    }
    .interesting-topics{
      a{
        text-decoration: none;
        color:$dark-gray;
        img{
          width: 3em;
          height: auto;
          padding-right: 1em;
        }
      }
      a:hover{
        color:$green-dark;
      }
    }
  }
}
